In [298]:
import pandas as pd

We will concatinate fetched datas

In [299]:
df1 = pd.read_csv('weather_data_fetched2.csv')
df2 = pd.read_csv('weather_data_fetched2.1.csv')
df3 = pd.read_csv('weather_data_fetched2.2.csv')
df4 = pd.read_csv('weather_data_fetched2.3.csv')

df = pd.concat([df1,df2,df3,df4], ignore_index=True)
df.tail()

df = df.reset_index()

In [300]:
df_dup = df.duplicated()
df_dup.sum()

0

it seems a problem occurs while processing data fetching and there's same duplicated rows 

we will drop them

In [301]:
df = df.drop_duplicates(keep='first')
df_dup = df.duplicated()
df_dup.sum() #nice

0

In [302]:
df

,index,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.Condition,Precip.,Condition
0,0,12:20 AM,37 °F,34 °F,87 °%,W,3 °mph,0 °mph,30.08 °in,NaN,0.0 °in,Partly Cloudy
1,1,12:50 AM,45 °F,37 °F,76 °%,SW,9 °mph,0 °mph,30.08 °in,NaN,0.0 °in,Mostly Cloudy
2,2,1:20 AM,45 °F,39 °F,81 °%,WSW,8 °mph,0 °mph,30.08 °in,NaN,0.0 °in,Mostly Cloudy
3,3,1:50 AM,43 °F,36 °F,76 °%,WNW,6 °mph,0 °mph,30.05 °in,NaN,0.0 °in,Mostly Cloudy
4,4,2:20 AM,41 °F,36 °F,81 °%,NW,5 °mph,0 °mph,30.05 °in,NaN,0.0 °in,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...
48166,48166,9:50 PM,48 °F,39 °F,71 °%,ENE,13 °mph,0 °mph,30.18 °in,NaN,0.0 °in,Mostly Cloudy
48167,48167,10:20 PM,48 °F,39 °F,71 °%,NE,12 °mph,0 °mph,30.18 °in,NaN,0.0 °in,Fair
48168,48168,10:50 PM,48 °F,39 °F,71 °%,NE,10 °mph,0 °mph,30.18 °in,NaN,0.0 °in,Fair
48169,48169,11:20 PM,48 °F,39 °F,71 °%,NE,12 °mph,0 °mph,30.18 °in,NaN,0.0 °in,Fair
48170,48170,11:50 PM,48 °F,39 °F,71 °%,NE,13 °mph,0 °mph,30.18 °in,NaN,0.0 °in,Fair

In [303]:
df.isnull().sum()
# precip. Condition columns is invalid
df.drop(columns='Precip.Condition', inplace=True)
df.isnull().sum()

index          0
Time           0
Temperature    0
Dew Point      0
Humidity       0
Wind           0
Wind Speed     0
Wind Gust      0
Pressure       0
Precip.        0
Condition      0
dtype: int64

In [304]:
df['Wind'].nunique()

18

### Data preprocessing

1. We need to get rid of str expressions which's fallowing nemerical values.

In [305]:
for i in range(len(df)):
    df.loc[i, 'Temperature'] = int(df.loc[i, 'Temperature'].replace('°F', ''))
    df.loc[i, 'Temperature'] = (df.loc[i, 'Temperature'] - 32) * 5/9
df = df.rename(columns = {'Temperature': 'Temperature(°C)'})

In [306]:
for i in range(len(df)):
    df.loc[i, 'Dew Point'] = int(df.loc[i, 'Dew Point'].replace('°F', ''))
    df.loc[i, 'Dew Point'] = (df.loc[i, 'Dew Point'] - 32) * 5/9
df = df.rename(columns={'Dew Point': 'Dew Point(°F)'})

In [307]:
for i in range(len(df)):
    df.loc[i, 'Humidity'] = int(df.loc[i, 'Humidity'].replace('°%', ''))
df = df.rename(columns={'Humidity': 'Humidity(°%)'})

In [308]:
for i in range(len(df)):
    df.loc[i, 'Wind Speed'] = int(df.loc[i, 'Wind Speed'].replace('°mph', ''))
df = df.rename(columns={'Wind Speed': 'Wind Speed(°mph)'})

In [309]:
for i in range(len(df)):
    df.loc[i, 'Wind Gust'] = int(df.loc[i, 'Wind Gust'].replace('°mph', ''))
df = df.rename(columns={'Wind Gust': 'Wind Gust(°mph)'})

In [310]:
for i in range(len(df)):
    df.loc[i, 'Pressure'] = float(df.loc[i, 'Pressure'].replace('°in', ''))
df = df.rename(columns={'Pressure': 'Pressure(°in)'})

In [311]:
for i in range(len(df)):
    df['Precip.'][i] = float(df['Precip.'][i].replace('°in', ''))
df = df.rename(columns={'Precip': 'Precip(°in)'})

C:\Users\anerg\AppData\Local\Temp\ipykernel_23108\2071424006.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Precip.'][i] = float(df['Precip.'][i].replace('°in', ''))

In [312]:
df.tail(3)

,index,Time,Temperature(°C),Dew Point(°F),Humidity(°%),Wind,Wind Speed(°mph),Wind Gust(°mph),Pressure(°in),Precip.,Condition
48168,48168,10:50 PM,8.888889,3.888889,71,NE,10,0,30.18,0.0,Fair
48169,48169,11:20 PM,8.888889,3.888889,71,NE,12,0,30.18,0.0,Fair
48170,48170,11:50 PM,8.888889,3.888889,71,NE,13,0,30.18,0.0,Fair

2. We will remove unneccessary columns for model traning

In [313]:
df = df.drop(df.columns[[0,1,5]], axis = 1)
df.tail(2)

,Temperature(°C),Dew Point(°F),Humidity(°%),Wind Speed(°mph),Wind Gust(°mph),Pressure(°in),Precip.,Condition
48169,8.888889,3.888889,71,12,0,30.18,0.0,Fair
48170,8.888889,3.888889,71,13,0,30.18,0.0,Fair

In [314]:
from math import ceil
df_cols = df.iloc[:, :-2].columns

for c in range(len(df_cols)):
    col = (df_cols[c])
    df[col] = df[col].apply(lambda x: ceil(x))

3. We will update the the csv data

In [297]:
df.dtypes

Temperature(°C)      int64
Dew Point(°F)        int64
Humidity(°%)         int64
Wind Speed(°mph)     int64
Wind Gust(°mph)      int64
Pressure(°in)        int64
Precip.              int64
Condition           object
col                  int64
dtype: object

it seems column types are not correct

In [316]:
df.describe().T

                    count       mean        std   min   25%   50%   75%    max
Temperature(°C)   48171.0  16.112889   7.828876 -17.0  10.0  15.0  23.0   35.0
Dew Point(°F)     48171.0  10.578585   6.734802 -17.0   5.0  10.0  17.0   25.0
Humidity(°%)      48171.0  71.398352  14.569206   0.0  62.0  73.0  82.0  100.0
Wind Speed(°mph)  48171.0   9.989952   5.643898   0.0   6.0   9.0  14.0   38.0
Wind Gust(°mph)   48171.0   0.468041   3.990370   0.0   0.0   0.0   0.0   58.0
Pressure(°in)     48171.0  30.155903   1.118653   0.0  30.0  30.0  30.0   31.0

In [317]:
df.to_csv('weather_data.csv', index=False)